<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Github Finder</title>
  </head>
  <body>
    <nav class="bg-black">
      <div class="p-5 text-white text-center">Github Finder</div>
    </nav>
    <div>
      <div class="border bg-grey m-2 p-2">
        <h1 class="text-center text-3xl">Search Github Users</h1>
        <p>Please enter user a name</p>
        <form action="/" method="post">
          <input
            type="text"
            name="githubName"
            class="p-2 mt-2 border"
            placeholder="User Name"
          />
          <br />
          <button type="submit" class="bg-lime-900 text-white p-2 mt-2">
            Search
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
